/* src/assets/global.css */
@font-face {
  font-family: 'BoutiqueBitmap9x9';
  src: url('/fonts/BoutiqueBitmap9x9_1.92.ttf') format('truetype');
}
body {
  font-family: 'BoutiqueBitmap9x9', monospace;
}